---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout
block content

  // DUMMY CONTENT
  div(style="min-height: 100vh; display: flex; align-items: center; justify-content: center")
    div(style="display: flex; flex-direction: column")
      a(href="#modal_1" js-modal style="margin-bottom: 10px").btn.btn-outline Intro modal
      a(href="#modal_2" js-modal style="margin-bottom: 10px").btn.btn-outline Login modal
      a(href="#modal_3" js-modal style="margin-bottom: 10px").btn.btn-outline Ops modal
      a(href="#modal_4" js-modal style="margin-bottom: 10px").btn.btn-outline Product modal


  
  // MODALS
  // util class
  .modal-bg
  
  // intro modal
  .modal#modal_1
    .modal__wrapper
      .modal__close(js-close-modal)
        i.icon.icon-close
      img(src='img/background_1.jpg' srcset="img/background_1@2x.jpg 2x").modal__bg
      .modal__inner
        .intro
          .intro__title No more doubts about the size to choose
          
          .intro__subtitle With Snapfeet you can now make the virtual test of the shoe you buy.
          .intro__cta
            a(href="#modal_2" js-modal).btn.btn-outline Login
          .intro__download
            span or download the app
            .intro__download-icons
              a(href='#' target="_blank")
                i.icon.icon-app-store
              a(href="#" target="_blank")
                i.icon.icon-g-play
  
  // login modal
  .modal#modal_2
    .modal__wrapper
      .modal__close(js-close-modal)
        i.icon.icon-close
      .modal__bg-login
      .modal__inner
        .login
          .login-left
            .login-left__content
              .login__title Scan the QR code with <i class="icon icon-snapfeet"></i> app
              .login__qr
                img(src='img/qr.png' srcset='img/qr@2x.png 2x')
              .login__logo
                i.icon.icon-logo
                  
          .login-right
            .login__title Login
            form(action="#").login__form
              .login__form-fields
                .ui-group
                  input(type="email" name="email" placeholder="Email o ID snapfeet")
                .ui-group
                  input(type="password" name="password" placeholder="Password")
              .login__form-button
                button(type="submit").btn.btn-send Log In
              .login__form-helpers
                .ui-group
                  .ui-checkbox
                    input(type="checkbox" name="agree" id="agree")
                    label(for="agree")
                      span Remember me
                a(href="#") Forgot password?
                
            
  // intro modal
  .modal#modal_3
    .modal__wrapper
      .modal__close(js-close-modal)
        i.icon.icon-close
      .modal__inner
        .bio
          .bio__title Ops!
          .bio__subtitle It seems that you haven't done it yet <br> the biometry
          i.icon.icon-arrow-down
          .bio__row
            .bio__col
              .bio__col-ico.bio__col-ico--first
                i.icon.icon-step_1
              .bio__name Open the app
            .bio__col
              .bio__col-ico.bio__col-ico--second
                i.icon.icon-step_2
              .bio__name Go to the Biometry section
            .bio__col
              .bio__col-ico
                a(href="#modal_4" js-modal).btn.btn-outline START
              .bio__name Press “Start”
          .bio__logo
            i.icon.icon-logo
          .bio__helpers
            span Not Nik? <a href="#">Change user</a>

  // product modal
  .modal#modal_4.is-active
    .modal__wrapper
      .modal__close(js-close-modal)
        i.icon.icon-close
      .modal__inner
        .product
          // left
          .product__left
            .product__brand
              img(src='img/brand.png' srcset='img/brand@2x.png 2x')
            .product__image
              img(src='img/product.jpg' srcset='img/product@2x.jpg 2x')
            .product__info
              .product__info-left
                .product__name Giacalustra
                .product__desc Oxford with leather sole
              .product__info-right
                .product__price € 185
                  span 00
            .product__logo
              i.icon.icon-logo
          
          // right
          .product__right
            .product__size-title Your size
            .product__size(js-size-scroller)
              .product__size-scroller
                .product__size-el(data-size="40") 
                  span 40
                .product__size-el(data-size="41") 
                  span 41
                .product__size-el(data-size="42").is-active 
                  span 42
                .product__size-el(data-size="43") 
                  span 43
                .product__size-el(data-size="44") 
                  span 44
              .product__size-next
                i.icon.icon-arrow-next
              .product__size-prev
                i.icon.icon-arrow-prev
                  
            .product__fit
              .product__fit-best Best fit
              .product__fit-stars
                i.icon.icon-star-fill
                i.icon.icon-star-fill
                i.icon.icon-star-fill
                i.icon.icon-star-half
                i.icon.icon-star-empty
            
            .product__icons
              i.icon.icon-fit_1_fail
              i.icon.icon-fit_2_fail
              i.icon.icon-fit_3_ok
            
            .product__cta
              a(href="#").btn.btn-send Continue
              .product__helpers
                span Not Nik? <a href="#">Change user</a>
              
              
             
