$sprite: (
	app-store: (
		offset-x: -93px,
		offset-y: -150px,
		width: 104px,
		height: 37px,
		total-width: 357px,
		total-height: 300px,
		image: '../img/sprite.png'
	),
	arrow-down: (
		offset-x: -213px,
		offset-y: -103px,
		width: 23px,
		height: 11px,
		total-width: 357px,
		total-height: 300px,
		image: '../img/sprite.png'
	),
	arrow-next: (
		offset-x: -277px,
		offset-y: -230px,
		width: 12px,
		height: 22px,
		total-width: 357px,
		total-height: 300px,
		image: '../img/sprite.png'
	),
	arrow-prev: (
		offset-x: -255px,
		offset-y: -230px,
		width: 12px,
		height: 22px,
		total-width: 357px,
		total-height: 300px,
		image: '../img/sprite.png'
	),
	close: (
		offset-x: -321px,
		offset-y: -263px,
		width: 23px,
		height: 21px,
		total-width: 357px,
		total-height: 300px,
		image: '../img/sprite.png'
	),
	fit_1_fail: (
		offset-x: -321px,
		offset-y: 0px,
		width: 36px,
		height: 77px,
		total-width: 357px,
		total-height: 300px,
		image: '../img/sprite.png'
	),
	fit_1_med: (
		offset-x: -321px,
		offset-y: -179px,
		width: 33px,
		height: 74px,
		total-width: 357px,
		total-height: 300px,
		image: '../img/sprite.png'
	),
	fit_1_ok: (
		offset-x: -321px,
		offset-y: -87px,
		width: 32px,
		height: 82px,
		total-width: 357px,
		total-height: 300px,
		image: '../img/sprite.png'
	),
	fit_2_fail: (
		offset-x: -255px,
		offset-y: -78px,
		width: 52px,
		height: 66px,
		total-width: 357px,
		total-height: 300px,
		image: '../img/sprite.png'
	),
	fit_2_med: (
		offset-x: -255px,
		offset-y: 0px,
		width: 56px,
		height: 68px,
		total-width: 357px,
		total-height: 300px,
		image: '../img/sprite.png'
	),
	fit_2_ok: (
		offset-x: -255px,
		offset-y: -154px,
		width: 46px,
		height: 66px,
		total-width: 357px,
		total-height: 300px,
		image: '../img/sprite.png'
	),
	fit_3_fail: (
		offset-x: -93px,
		offset-y: -197px,
		width: 74px,
		height: 38px,
		total-width: 357px,
		total-height: 300px,
		image: '../img/sprite.png'
	),
	fit_3_med: (
		offset-x: -84px,
		offset-y: -262px,
		width: 74px,
		height: 38px,
		total-width: 357px,
		total-height: 300px,
		image: '../img/sprite.png'
	),
	fit_3_ok: (
		offset-x: 0px,
		offset-y: -262px,
		width: 74px,
		height: 38px,
		total-width: 357px,
		total-height: 300px,
		image: '../img/sprite.png'
	),
	g-play: (
		offset-x: -93px,
		offset-y: -103px,
		width: 110px,
		height: 37px,
		total-width: 357px,
		total-height: 300px,
		image: '../img/sprite.png'
	),
	logo: (
		offset-x: -93px,
		offset-y: 0px,
		width: 152px,
		height: 49px,
		total-width: 357px,
		total-height: 300px,
		image: '../img/sprite.png'
	),
	snapfeet: (
		offset-x: -93px,
		offset-y: -59px,
		width: 130px,
		height: 34px,
		total-width: 357px,
		total-height: 300px,
		image: '../img/sprite.png'
	),
	star-empty: (
		offset-x: -213px,
		offset-y: -124px,
		width: 16px,
		height: 15px,
		total-width: 357px,
		total-height: 300px,
		image: '../img/sprite.png'
	),
	star-fill: (
		offset-x: -207px,
		offset-y: -150px,
		width: 16px,
		height: 15px,
		total-width: 357px,
		total-height: 300px,
		image: '../img/sprite.png'
	),
	star-half: (
		offset-x: -177px,
		offset-y: -197px,
		width: 16px,
		height: 15px,
		total-width: 357px,
		total-height: 300px,
		image: '../img/sprite.png'
	),
	step_1: (
		offset-x: 0px,
		offset-y: 0px,
		width: 83px,
		height: 118px,
		total-width: 357px,
		total-height: 300px,
		image: '../img/sprite.png'
	),
	step_2: (
		offset-x: 0px,
		offset-y: -128px,
		width: 74px,
		height: 124px,
		total-width: 357px,
		total-height: 300px,
		image: '../img/sprite.png'
	),
);


@mixin sprite-size($image) {
	background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}

@mixin sprite-width($image) {
	width: map-get(map-get($sprite, $image), 'width');
}

@mixin sprite-height($image) {
	height: map-get(map-get($sprite, $image), 'height');
}

@mixin sprite-position($image) {
	background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}

@mixin sprite-image($image) {
	background-image: url(map-get(map-get($sprite, $image), 'image'));
}

@mixin sprite-image-retina($image) {
	$image-path: map-get(map-get($sprite, $image), 'image');
	$image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

	background-image: url($image-path-retina);
}

@mixin sprite($image, $size: true) {
	@include sprite-image($image);
	@include sprite-position($image);
	background-repeat: no-repeat;

	@if $size {
		@include sprite-width($image);
		@include sprite-height($image);
	}

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {

		@include sprite-size($image);
		@include sprite-image-retina($image);

	}
}



	.snapwdg2-icon-app-store {
		@include sprite(app-store)
	}
	.snapwdg2-icon-arrow-down {
		@include sprite(arrow-down)
	}
	.snapwdg2-icon-arrow-next {
		@include sprite(arrow-next)
	}
	.snapwdg2-icon-arrow-prev {
		@include sprite(arrow-prev)
	}
	.snapwdg2-icon-close {
		@include sprite(close)
	}
	.snapwdg2-icon-fit_1_fail {
		@include sprite(fit_1_fail)
	}
	.snapwdg2-icon-fit_1_med {
		@include sprite(fit_1_med)
	}
	.snapwdg2-icon-fit_1_ok {
		@include sprite(fit_1_ok)
	}
	.snapwdg2-icon-fit_2_fail {
		@include sprite(fit_2_fail)
	}
	.snapwdg2-icon-fit_2_med {
		@include sprite(fit_2_med)
	}
	.snapwdg2-icon-fit_2_ok {
		@include sprite(fit_2_ok)
	}
	.snapwdg2-icon-fit_3_fail {
		@include sprite(fit_3_fail)
	}
	.snapwdg2-icon-fit_3_med {
		@include sprite(fit_3_med)
	}
	.snapwdg2-icon-fit_3_ok {
		@include sprite(fit_3_ok)
	}
	.snapwdg2-icon-g-play {
		@include sprite(g-play)
	}
	.snapwdg2-icon-logo {
		@include sprite(logo)
	}
	.snapwdg2-icon-snapfeet {
		@include sprite(snapfeet)
	}
	.snapwdg2-icon-star-empty {
		@include sprite(star-empty)
	}
	.snapwdg2-icon-star-fill {
		@include sprite(star-fill)
	}
	.snapwdg2-icon-star-half {
		@include sprite(star-half)
	}
	.snapwdg2-icon-step_1 {
		@include sprite(step_1)
	}
	.snapwdg2-icon-step_2 {
		@include sprite(step_2)
	}
